<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/renanamendola/" target="_blank" class="IcoInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/renan-amendola/" target="_blank" class="IcoLink">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-secondary text-center py-3">
        <span class="text-light"> © 2022 Copyright: Todos os diretor reservados para Renan Amendola</span>

    </div>
</footer>