#img-bg{
    background-image: url('https://dontgetserious.com/wp-content/uploads/2022/01/Wait-A-Minute-Memes.jpeg');

    min-height: 50vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


