#img-bg{
    background-image: url('https://external-preview.redd.it/zxepZgQ6sWgI7YCfkdipnZuDO8A1_ylDoR2nf7sFqHk.jpg?auto=webp&s=8bac63f83e7c55db5e949dcfb4c741b7c5415c06');

    min-height: 50vw;

    
    
    background-size: cover;
}