<div class="container-fluid">

    <div class="row bg-dark d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">

                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo(a)!</h1>
                    <h5 class="fs-18">Esse é meu blog pessoal</h5>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-primary mr-3" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                    <a href="#postagens" class="btn btn-info">Ver Postagens</a>
                </div>
            </div>

        </div>


        <div class="col-md-6 d-flex justify-content-center">
            <img class="tamanho-foto" src="https://cdn.discordapp.com/attachments/308794883546546176/978228677898821632/unknown.png" alt="meme">

        </div>

    </div>

</div>

<div class="container mb-5 mt-5" id="postagens">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center " id="nav-tab" role="tablist">
          <a class="nav-link active text-info font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="todasPostagens" aria-selected="true">Todas as postagens</a>

          <a (click)="findByIdUsuario()" class="nav-link text-info font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="false">Minhas postagens</a>

          <a (click)="findByIdTema()" class="nav-link text-info font-weight-bold" id="nav-postagensTema-tab" data-toggle="tab" href="#postagensTema" role="tab" aria-controls="postagensTema" aria-selected="false">Postagens por tema</a>

        </div>
      </nav>
      <div class="tab-content mt-5" id="nav-tabContent">

        <!-- Todas as postagens -->
        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
           
          <div class="card mb-3" *ngFor="let item of listaPostagem">
            <img src="{{item.foto}}" class="card-img-top" alt="foto da postagem">
            <div class="card-body" >
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
              <p class="card-text"><small class="text-muted">Tema: {{item.tema.descricao}}</small></p>
              <p class="card-text text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
            </div>
          </div>
         
        </div>
         <!-- Todas as postagens -->

        <!-- Todas as suas postagens -->
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
           
          <div class="card mb-3" *ngFor="let item of usuario.postagem">
            <img src="{{item.foto}}" class="card-img-top" alt="foto da postagem">
            <div class="card-body" >
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
              <p class="card-text"><small class="text-muted">Tema: {{item.tema.descricao}}</small></p>
            </div>
          </div>

        </div>
        <!-- Todas as suas postagens -->

        <!-- postagens por tema -->
        <div class="tab-pane fade" id="postagensTema" role="tabpanel" aria-labelledby="nav-postagensTema-tab">

          <div *ngFor="let tema of listaTemas">
          <div class="card mb-3" *ngFor="let item of tema.postagem">
            <img src="{{item.foto}}" class="card-img-top" alt="foto da postagem">
            <div class="card-body" >
              <h5 class="card-title">{{item.titulo}}</h5>
              <p class="card-text">{{item.texto}}</p>
              <p class="card-text"><small class="text-muted">Publicado em: {{item.data | date: 'dd/MM/yyyy'}} as {{item.data | date: 'HH:mm'}}</small></p>
              <p class="card-text text-right"><small class="text-muted">By: {{item.usuario.nome}}</small></p>
            </div>
          </div>
        </div>

        </div>
        <!-- postagens por tema -->

      </div>

</div>



  
  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-grup">
            <label for="titulo">Titulo</label>
            <input [(ngModel)]="postagem.titulo" type="titulo" class="form-control" id="titulo" placeholder="Digite o titulo da postagem">
          </div>
<br>
          <div class="form-grup">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
          </div>
<br>
          <div class="form-grup">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">cadastre um novo!</a>:</label>
            <select name="tema" id="tema" class="form-control" [(ngModel)]="idTema" (change)="findByIdTema()">
                <option *ngFor='let item of listaTemas' value="{{item.id}}">
                  {{item.descricao}}
                </option>
            </select>
          </div>

          <div class="form-grup">
            <label for="foto">Coloque foto</label>
            <input [(ngModel)]="postagem.foto" type="foto" class="form-control" id="foto" placeholder="url aqui">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger bd-3" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="publicar()" data-dismiss="modal">Publicar</button>
        </div>
      </div>
    </div>
  </div>